// 0 - Plugins
@import '0-Plugins/plugins';

// 1 - Base
@import '1-Base/normalize';
@import '1-Base/fonts';
@import '1-Base/vars';
@import '1-Base/global';
@import '1-Base/mixins';

// 2 - Layouts
@import '2-Layouts/header';
@import '2-Layouts/footer';

// 3 - Modules
//@import '3-Modules/';

// 4 - Templates
//@import '4-Templates/';
